<mjml>
  <!-- Head -->
  <mj-head>
    <mj-style>
      .myheader {
        background: #151515;
        color: #F3F3F3;
      }
     .mytitle {
        text-align: center;
        font-family: Red Hat Display;
        font-size: 16px;
        word-break: break-word;
        color: #000000;
        line-height: 1.2;
        padding: 0px 0px 12px 0px;
      }
      .mynoticeheader {
        text-align: center;
        font-family: Red Hat Display;
        word-break: break-word;
        padding: 2px 2px 2px 2px;
      {% if table_design == "radious" %}
        border-radius: 20px;
      {% endif %}
        color: #F3F3F3;
        font-size:20px;
        background:#f40e0e;"
      }
      .mynotes {
        text-align: center;
        font-family: Red Hat Display;
        font-size: 16px;
        word-break: break-word;
        color: #f40e0e;
        background:#F3F3F3;
        padding: 5px 5px 5px 5px;
        border: 2px solid white;
      }
      .mynotice {
        text-align: center;
        font-family: Red Hat Display;
        font-size: 14px;
        word-break: break-word;
        color: #000000;
        background:#F3F3F3;
        padding: 2px 2px 2px 2px;
        border: 2px solid white;
      }
      td.mynotice {
        border: 2px solid white !important;
      }
      #spacer {
        background: white;
        height: 3px;
      }
      .myheading {
        font-size: 16px;
        font-weight: 600;
        font-family: Red Hat Display;
        text-align: left;
        color: #f8f8f8;
        background: #f40e0e;
        padding: 5px 5px 5px 5px;
      }
      .mytable {
        text-align: center;
        font-family: Red Hat Display;
      {% if table_design == "radious" %}
        border-radius: 20px;
      {% endif %}
        word-break: break-word;
        font-size: 14px;
        border: 2px;
        border-style: solid;
        border-color: white;
      }
      table.mytable {
        border: 3px solid green;
      }
      th.mytable {
        padding: 10px;
        background: #000000;
        color: #F3F3F3;
        font-weight: 700;
        line-height: 1;
      }
      tr.mytable {
        color: #000000;
        background: #F3F3F3;
        border: 2px solid white;
      }
      td.mytable {
        padding: 7px;
        line-height: 1;
      }
      .colwidth1 { width: 150px ;}
      .colwidth2 { width: 100px ;}
      .colwidth3 { width: 350px ;}
      .mytwocolumtable {
        text-align: center;
        font-family: Red Hat Display;
        font-size: 14px;
        word-break: break-word;
        color: #000000;
        background:#F3F3F3;
        padding: 2px 2px 2px 2px;
        border: 1px solid white;
      }
      a.mytwocolumtable {
        text-decoration: none; 
        color: #06c;"
      }
      .myfooter {
        text-align: center;
        font-family: Red Hat Display;
        word-break: break-word;
        font-size: 14px;
        border: 0px;
        border-color: #151515;
        border-style: groove;
        background: #151515;
        color: #F3F3F3;
      }
    </mj-style>
  </mj-head>

  <!-- Body -->
  <mj-body>
    
    <!-- Header logo -->
    <mj-section css-class="myheader" padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-image align="right" width="185px" src="https://public-assets-email.s3.us-east-2.amazonaws.com/Logo-Red_Hat-A-Reverse-RGB.png" />
      </mj-column>
    </mj-section>
    
    <!-- divider -->
    <mj-section padding-top="5px" padding-bottom="5px" padding-left="0px" padding-right="0px">
        <mj-column>
          <mj-divider border-width="1px" border-style="dashed" border-color="lightgrey" />
        </mj-column>
    </mj-section>
   
   <!-- Title -->
    <mj-section padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table >
          <tr><td class="mytitle">Status: Service Ready</td></tr>
          <tr><td class="mytitle" style="font-size: 24px">--curly service_display_name  curly--</td></tr>
        </mj-table>
      </mj-column>
    </mj-section> 
   {% if ( service_notice == true ) and ( service_notice_position == "top") %}
    <!-- Notice -->
    <mj-section padding-top="10px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table width="400px" align="center">
          <tr>
            <td colspan=2 class="mynoticeheader" >Notice</td>
          </tr>
          <tr class="mynotice">
            <td colspan=2>This service is scheduled to stop and be retired:</td>
          </tr>
          <tr>
            <td class="mynotice" sytle="width: 40%"> Scheduled stop </td>
            <td class="mynotice"> --curly stop_timedelta_humanized  curly-- at --curly stop_timestamp  curly--</td>
          </tr>
          <tr>
            <td class="mynotice" style="width: 40%"> Scheduled retirement</td>
            <td class="mynotice"> --curly retirement_timedelta_humanized  curly-- at --curly retirement_timestamp  curly--. </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    {% endif %}
     <!-- divider -->
    <mj-section padding-top="5px" padding-bottom="5px" padding-left="0px" padding-right="0px">
        <mj-column>
          <mj-divider border-width="1px" border-style="dashed" border-color="lightgrey" />
        </mj-column>
    </mj-section>

   {% if global_note is defined %}
    <!-- Global Note -->
    <mj-section padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
          <tr>
            <td class="mynotes">{{ global_note }}</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
  {% endif %}

{% for var in email_template_vars %}
    <mj-section padding-top="20px" padding-bottom="0px" padding-left="0px" padding-right="0px">
    </mj-section>
    <!-- {{ var.segment }} -->
    <mj-section padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px"> 
          <tr>
            <td class="myheading">{{ var.segment }}</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

   {% if var.segment_note is defined %}
    <!-- Segment Note -->
    <mj-section padding-top="2px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px"> 
          <tr>
            <td class="mynotes">{{ var.segment_note }}</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
   {% endif %}

{% if var.contents is defined %}

    <mj-section padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table css-class="mytable" >
          <tr class="mytable">
            <th class="mytable colwidth1">Title</th>
            <th class="mytable colwidth2">Element</th>
             <th class="mytable colwidth3">Value</th>
          </tr>
  {% for content in var.contents %}
    <!-- {{ content.title }} -->
          <tr class="mytable"><td colspan="3" id="spacer"></td></tr>
          <tr class="mytable">
            <td rowspan={{ content.details | length }} class="mytable">
              {{ content.title }}
            </td>
            {%if content.details.0.note is defined %}  
            <td colspan=2 class="mytable" style="color:#f40e0e;background:#F3F3F3;">
              {{ content.details.0.note }}
            </td>
            {%elif content.details.0.element is defined%}    
            <td class="mytable">
              {{ content.details.0.element }}
            </td>
            <td class="mytable">
              {{ content.details.0.value }} 
            </td>
            {%endif%}
          </tr>
    {% for count in range(1,content.details|length) %}
            <tr class="mytable">
              {%if content.details[count].note is defined %}
              <td colspan=2 class="mytable" style="color:#f40e0e;background:#F3F3F3;">
                {{ content.details[count].note }}
              </td>
              {%elif content.details[count].element is defined%}
              <td class="mytable">
                {{ content.details[count].element }}
              </td>
              <td class="mytable">
                {{ content.details[count].value }}
              </td>
              {%endif%}
            </tr>
    {% endfor %}  
  {% endfor %}
  {%endif%}     
        </mj-table>
      </mj-column>
    </mj-section>
{% endfor %}
    <!-- divider -->
    <mj-section padding-top="5px" padding-bottom="5px" padding-left="0px" padding-right="0px">
        <mj-column>
          <mj-divider border-width="1px" border-style="dashed" border-color="lightgrey" />
        </mj-column>
    </mj-section>

    <!-- Service Management URL -->
    <mj-section padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table width="550px" align="center">
          <tr>
            <td class="mytwocolumtable" style="width: 40%">Service management URL<td>
            <td class="mytwocolumtable">
              <a class="mytwocolumtable" href="--curly service_url  curly--">
                --curly service_url  curly--
              </a>
            <td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

   {% if ( service_notice == true ) and ( service_notice_position == "bottom") %}
    <!-- Notice -->
    <mj-section padding-top="10px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table width="400px" align="center">
          <tr>
            <td colspan=2 class="mynoticeheader" >Notice</td>
          </tr>
          <tr class="mynotice">
            <td colspan=2>This service is scheduled to stop and be retired:</td>
          </tr>
          <tr>
            <td class="mynotice" sytle="width: 40%"> Scheduled stop </td>
            <td class="mynotice"> --curly stop_timedelta_humanized  curly-- at --curly stop_timestamp  curly--</td>
          </tr>
          <tr>
            <td class="mynotice" style="width: 40%"> Scheduled retirement</td>
            <td class="mynotice"> --curly retirement_timedelta_humanized  curly-- at --curly retirement_timestamp  curly--. </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    {% endif %}

    <!-- divider -->
    <mj-section padding-top="5px" padding-bottom="5px" padding-left="0px" padding-right="0px">
        <mj-column>
          <mj-divider border-width="1px" border-style="dashed" border-color="lightgrey" />
        </mj-column>
    </mj-section>

  <!-- Footer -->
    <mj-section css-class="myfooter" padding-top="0px" padding-bottom="0px" padding-left="0px" padding-right="0px">
      <mj-column>
        <mj-table css-class="myfooter">
          <tr css-class="myfooter">
            <td class="myfooter" style="text-align:right;">
              <a href="https://www.redhat.com/en" target="_blank"><img alt="Red Hat" title="Red Hat" width=120 src="https://public-assets-email.s3.us-east-2.amazonaws.com/Logo-Red_Hat-A-Reverse-RGB.png"></a>
            </td>
            <td class="myfooter" style="text-align:left;">
               &nbsp;&nbsp;&nbsp;© Copyright 2022 - All rights reserved
          </td>
        </mj-table>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>